<style>
  /* Estilos para centrar el título */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>

<div>
<h2>PERFIL</h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNlGsLZLHRwmBBsbUjmXXZ2IFucTxH2Qg3KI5BHkXgHWO5yGKxUdzlwnPG0BT6nEadCwk&usqp=CAU" alt="Imagen" />
</div>