<h2>Socket cliente</h2>

<form id="form">
    <label>Nombre Producto:</label><input type="text" name="name" id="name">
    <label>Descripcion producto:</label><input type="text" name="description" id="description">
    <label>Precio producto:</label><input type="text" name="price" id="price">
    <input type="submit" value="SEND">
</form>

<p id="products"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>